BasedOnStyle: LLVM
IndentWidth: 4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
NamespaceIndentation: All
FixNamespaceComments: true
